.App {
  text-align: center;
}
.information-section{
  margin-top: 100px;
}
.info-box{
  padding: 20px;
  border:1px solid #ddd;
  margin-bottom: 30px;
}
.form-field{
  margin-bottom: 30px;
}
.route-nav{
  display:flex;
  align-items: center;
  background-color: black;
  justify-content: center;
}
.route-nav .nav-link{
  color: #fff;
  padding: 16px 32px;
  font-size: 18px;
}
.route-nav .nav-link:hover{
  color: red;
}
.route-nav .nav-link.active{
  color: red;
}